* {
  margin: 0;
  padding: 0;
}
input {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  /* margin-top: 5%; */
  position: relative;
}
a {
  text-decoration-line: none;
}
body {
  margin-left: 20px;
  margin-right: 20px;
  height: 1000px;
}
.logo {
  width: 100%;
  padding-top: 6%;
  margin-bottom: 3%;
}
.logo_text {
  display: flex;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
}
.btn {
  display: flex;
  margin-top: 20%;
}
.request {
  margin-right: 3%;
}
.need_help {
  margin: 10%;
  color: white;
  font-size: 10px;
  text-align: center; /* 텍스트 가운데 정렬 */
  font-weight: 200;
}
.new_btn {
  border-radius: 20px;
  background-color: #2e7cf6;
  color: white;
  font-size: 10px;
  text-align: center; /* 텍스트 가운데 정렬 */
}
.solved {
  background-color: #2e7cf6;
  border-radius: 20px;
  /* padding: 15px; */
  width: 65px;
  height: 30px;
}
.problem_solve {
  margin: 10%;
  color: white;
  font-size: 10px;
  text-align: center; /* 텍스트 가운데 정렬 */
  font-weight: 200;
}
.search_space {
  margin-top: 5%;
}
.search_btn {
  background-color: #2e7cf6;
  border-radius: 20px;
}
.new_search_btn {
  background-color: #2e7cf6;
  border-radius: 20px;
  color: white;
}
.search_text {
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 16px;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
}
.post_space {
  display: flex;
  margin-top: 20%;
  padding-right: 5%;
}
.post_img {
}
.cover_img {
  height: 100px;
}
.post_text {
  display: block;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #404040;
}
.post_content {
  padding-top: 3%;
}
.write_btn {
  width: 80%;
  height: 100px;
  text-align: right;
}
.pencil_btn {
  background-color: #2e7cf6;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  bottom: 35px;
  position: fixed;
  display: inline-block;
  text-align: center; /* 텍스트 가운데 정렬 */
}
.pencil_img {
  width: 30px;
  padding-top: 18px;
}
