@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

.full {
  margin: 0 auto;
  color: #404040;
}

.menu {
  font-weight: bolder;
}
.hh {
  border: none;
}

.line {
  border-top: 1px solid #c9c8c8;
  margin-top: 5%;
  width: 100%;

}
.col {
  margin-top: 10%;
}

.col2 {
  margin-top:-6% ;
  text-align: right;
  margin-right: 5%;
}

.row {
  text-align: center;
}

.questionInput {
  margin-top: 5%;
  width: 70%;
  padding: 10px 12px;
  text-align: left;
}

input {
  border-radius: 10px;
  border: 1px solid #bbb;
}

.Q {
  margin-right: 1%;
  font-weight: bold;
  color: #2E7CF6;
}

.text {
  margin-top: 10%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.text2 {
  margin-top: 10%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.fileInput {
  text-align: center;
  margin-top: 5%;
  
}

.contentInput {
  margin: 0 auto;
  text-align: center;
  padding: auto;
  border: none;
  margin-top: 5%;
}

textarea {
  padding: 12px;
  resize: none;
  border-radius: 10px; 
  width: 80%;
  height: 30%;
  border: 1px solid #bbb;
}

.fbtn {
  text-align: center;
}

.deleteBtn{
  margin: 0 auto;
  border: none;
  font-size: small;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #2E7CF6;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 40%;
  font-weight: bold;
}

.hashtagBox { 
  margin: 0 auto;
  text-align: center;
}

.hashtag {
  margin-top: 5%;
  font-size: smaller;
  width: 40%;
  text-align: center;
  padding: 7px 9px;
  border-radius: 20px;
}

.saveBtn{
  margin: 0 auto;
  border: none;
  font-size: small;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #2E7CF6;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 40%;
  font-weight: bold;
  /* margin-left: 10%; */
}

